@import "../../../../stylesheets/variables";
@import "../../../../stylesheets/mixins";
@import "../mixinsUsedForProduct.scss";

// --------------------------------------
.content {
    @include mainContentHolderWidth(70%);

    margin: auto;

    .before-header {
        @include beforeHeaderPrefix;

        display: flex;
        justify-content: space-between;

        .mat-raised-button {
            @include matRaisedButtonPrefix;
        }

        .backtoProducts {
            @include blackAndWhiteCustomButton;
        }

        .toDaShopButton {
            @include greenAndBlackCustomButton;
        }

        .productToEditButton {
            @include blueAndWhiteFilteredCustomButton;
        }
    }

    .header {
        @include headerPrefix;

        h2 {
            @include nameAndCategory;
        }
    }

    .container {
        @include containerContentHolder;
    }

    .grid {
        @include gridResetPrefix;
    }
}


// ---------------------------------------------------------
// --------------------- RESPONSIBILITA --------------------
// ---------------------------------------------------------


@media (max-width: 1300px) {


    .content {
        width: 90%;
    }
}

@media (max-width: 1100px) {
    .content {
        width: 100%;
    }
}


@media (max-width: 900px) {
    .content {
        .grid {
            display: block;
            margin: auto;
        }

        .container {

            .second {
                padding: 20px
            }
        }
    }
}


@media (max-width: 800px) {
    .content {
        .container {
            .second {
                .vendors .list-of-vendors {
                    display: block;
                    margin: auto;

                    div {
                        div {
                            border: 2px solid aliceblue;
                            width: 80%;
                            margin: 10px auto;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .content {
        .before-header {
            display: block;
            text-align: center;

            .backtoProducts,
            .toDaShopButton,
            .productToEditButton {
                font-size: 16px;
                width: 90%;
                padding: 10px 20px;
            }
        }
    }
}

@media (max-width: 650px) {
    .content {
        .header {
            display: block;

            h1 {
                margin-bottom: 1.875rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .content {
        .before-header {

            button.backtoProducts,
            button.toDaShopButton,
            button.productToEditButton {
                font-size: 3.2vw;
                width: 100%;
                padding: 10px 0;
                margin: 15px auto;
            }
        }

        .container {
            .second {
                .price-and-stock {
                    display: block;
                    padding: 17px 0px;
                    margin-bottom: 30px;

                    h2 {
                        font-size: 6vw;

                        &:first-child {
                            margin: 0;
                        }

                        &:last-child {
                            margin: 20px 0;
                        }
                    }
                }

                .description {
                    h2 {
                        font-size: 5vw;
                    }

                    p {
                        font-size: 4vw;
                    }
                }

                .vendors {
                    h2 {
                        font-size: 5vw;
                    }

                    .list-of-vendors {
                        div {
                            div {
                                width: 100%;
                                p {
                                    font-size: 5vw;
                                }
                            }
                        }
                    }
                }

                .containeris {
                    h2 {
                        font-size: 5vw;
                    }
                }
            }
        }

        .header {
            h1 {
                font-size: 7vw;
            }
        }
    }
}