<div class="internship">
    <div class="left-text">
        <h2>Začiatok: 02/2022</h2>
        <p>Vo februári roku 2022 som začal študovať v IT v Kurze programovací jazyk C#. Štúdium trvalo do júna 2022.
            Následne po štúdiu mi v tejto firme bola ponúknutá neplatená fullstack stáž, kde som sa ešte naučil
            TypeScript a Angular. Na backend som používal ASP.NET Core MVC v rámci vývoja platformy.</p>
    </div>


    <div class="it_v_kurze">
        <img src="../../../assets/LOGO-IT-V-KURZE.png" alt="LOGO-IT-V-KURZE">
    </div>


</div>
