.content {
    display: block;
    margin: auto;
    text-align: center;

    h2 {
        font-weight: 900;
        font-size: 50px;
    }

    img {
        display: block;
        margin: auto;
    }

    .backToHome {
        font-size: 25px;
        padding: 10px 20px;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 6px;
    }
}
