<div class="programming-begins">
    <div class="col-left">
        <img src="../../../assets/html_css_js_white.svg" alt="" width="100%">
    </div>

    <div class="content">

        <div class="col-right">
            <h2>Začiatok: 10/2020</h2>

            <p>Programovať som začal v poslednom ročníku strednej školy SOŠ podnikania a služieb v
                Námestove. Najprv som sa naučil základy HTML & CSS. Po pol roku som sa začal venovať už taktiež aj
                JavaScriptu. </p>

            <p>Spomenuté skilly som sa naučil prostredníctvom portálu Learn2Code, ktorý je dnes známy ako Skillmea a
                taktiež z YouTube tutoriálov, neskôr aj zo stránky Scrimba.com</p>
        </div>
    </div>
</div>
