<div class="nakupny-kosik" *ngIf="products.length">
    <ul class="shopping-table mat-elevation-z8">
        <li class="table-header">
            <div class="col col-1"></div>
            <div class="col col-2">Id</div>
            <div class="col col-3">Názov</div>
            <div class="col col-4">Cena</div>
            <div class="col col-5"></div>
        </li>
        <li class="table-row" *ngFor="let item of products; let i = index">
            <div class="col col-1">{{i + 1}}</div>
            <div class="col col-2">{{item.id}}</div>
            <div class="col col-3">{{item.name}}</div>
            <div class="col col-4">{{item.price}} €</div>
            <div class="col col-5">
                <button (click)="removeItem(item)" mat-raised-button color="warn"><i class="fas fa-trash"></i></button>
            </div>
        </li>
    </ul>

    <div class="buttons">
        <button class="trash" mat-raised-button (click)="emptyCart(products)"><i class="fas fa-trash"></i>Vyprázdniť košík</button>
        <button class="backToShop" mat-raised-button routerLink="/obchod-copy">
            <i class="fa-solid fa-arrow-rotate-left"></i>Späť k nákupu
        </button>
        <button class="pay" mat-raised-button>
            <i class="fa-solid fa-bag-shopping"></i>
            <strong>Celková cena: {{totalPrice()}} €</strong>
        </button>
    </div>
</div>

<!-- ----------------------------------------------------------- -->

<ng-container *ngIf="!products.length">
    <div class="not-in-cart-container">
        <div class="center">
            <img src="../../assets/empty_cart.svg" alt="">
            <h4>Váš nákupný košík je prázdny</h4>
            <button class="btn" mat-raised-button routerLink="/obchod-copy"><i class="fa fa-2x">&#xf07a;</i>Späť na nákup</button>
        </div>
    </div>
</ng-container>