@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

// --------------------------------------
.content {
    width: 95%;
    min-height: 77vh;
    padding: 0;
    border-radius: 0.625rem;
    margin-bottom: 30px;

    box-shadow: 5px 5px 10px #004766, -5px -5px 10px #0000005c, -5px -5px 10px #0084bd, 5px 5px 10px #00e0ff;

    .before-header {
        min-height: 4rem;
        border-bottom: 2px solid $whiteColor;
        padding: 0;
        margin: 0;
        background-color: #4a60ff78;

        display: flex;
        justify-content: space-between;
        padding: 0 20px;

        .mat-raised-button {
            margin: 10px;
            cursor: pointer;
            min-height: 42px;
            margin-top: 10px;

            &:hover {
                filter: none;
            }
        }

        .detailsButton {
            color: rgb(0, 0, 0);
            transition: 200ms;

            &:hover {
                background-color: rgba(0, 0, 0, 0.603);
                color: #ffffff;
                transform: scale(1.1);
            }

            .fa-solid {
                margin-right: 10px;
            }
        }

        .toDaShopButton {
            background-color: greenyellow;
            color: rgb(0, 0, 0);
            transition: 200ms;

            &:hover {
                background-color: rgba(0, 0, 0, 0.603);
                color: rgb(153, 221, 50);
                transform: scale(1.1);
            }

            .fa-solid {
                margin-right: 10px;
            }
        }

        .deleteProdukt {
            background-color: rgb(255, 254, 254);
            color: rgb(255, 47, 47);
            transition: 200ms;

            .fa-solid {
                margin-right: 10px;
            }

            &:hover {
                background-color: rgb(238, 43, 43);
                color: rgb(0, 0, 0);
                transform: scale(1.1);
            }
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid $whiteColor;
        padding: 20px;

        h2 {
            filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.8));
            font-weight: 900;

            &:first-child {
                color: rgb(26 255 161);

                &:hover {
                    color: rgb(0, 244, 144);
                }
            }

            &:last-child {
                color: #ffbe5c;

                &:hover {
                    color: #ffa724;
                }
            }
        }
    }

    .container {
        padding: 0;
        margin: 0;
        min-height: 400px;

        .first {
            border-right: 2px solid $whiteColor;
            height: inherit;
            background-color: #4a60ff78;
        }

        .second {
            height: inherit;

            .price-and-stock {
                display: flex;
                justify-content: space-between;
                padding: 17px 16px;
                height: 12vh;

                h2 {
                    font-weight: 900;
                    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.8));

                    &:first-child {
                        margin: 11px -16px;
                    }

                    &:last-child {
                        margin: 11px 9px;
                    }
                }
            }

            .description p {
                text-align: justify;
            }

            .vendors {
                margin-bottom: 20px;

                .list-of-vendors {
                    display: flex;
                    flex-wrap: wrap;
                    padding-top: 0.625rem;

                    div {
                        width: 190px;
                        margin: 5px 5px;
                        text-align: center;

                        p {
                            @extend div;
                            padding: 0.3125rem;
                            margin: 0.375rem 1.5625rem;
                            font-size: 1.375rem;
                            border: 2px solid $whiteColor;
                        }
                    }
                }
            }
        }
    }

    .grid {
        grid-template-columns: 1fr 5fr;
        min-height: 99vh;
    }
}


// ---------------------------------------------------------
// --------------------- RESPONSIBILITA --------------------
// ---------------------------------------------------------

@media (max-width: 1500px) {
    .content {
        .before-header {

            .detailsButton,
            .toDaShopButton,
            .deleteProdukt {
                font-size: 1vw;
            }
        }
    }
}

@media (max-width: 1350px) {
    .content {
        .before-header {

            .detailsButton,
            .toDaShopButton,
            .deleteProdukt {
                font-size: 16px;
                width: fit-content;
                padding: 10px 20px;
            }
        }
    }
}


@media (max-width: 1300px) {
    .content {
        width: 90%;
    }
}

@media (max-width: 900px) {
    .content {
        .grid {
            display: block;
            margin: auto;
        }

        .container {

            .second {
                padding: 20px
            }
        }
    }
}


@media (max-width: 800px) {
    .content {
        width: 100%;

        .container {
            .second {
                .vendors .list-of-vendors {
                    display: block;
                    margin-left: -23px;
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .content {
        .before-header {
            @include flex_Direction_Align(column, center);

            margin: auto;
            text-align: center;
            padding: 20px;

            .detailsButton,
            .toDaShopButton,
            .deleteProdukt {
                display: block;
                font-size: 16px;
                width: 300px;
                padding: 10px 20px;
            }
        }
    }
}

@media (max-width: 650px) {
    .content {
        .header {
            display: block;

            h1 {
                margin-bottom: 1.875rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .content {
        .before-header {

            .detailsButton,
            .toDaShopButton,
            .deleteProdukt {
                font-size: 16px;
                width: 100%;
            }
        }

        .container {
            .second {
                .price-and-stock {
                    display: block;
                    padding: 17px 0px;

                    h2 {
                        font-size: 6vw;

                        &:first-child {
                            margin: 0;
                        }

                        &:last-child {
                            margin: 20px 0;
                        }
                    }
                }

                .description {
                    h2 {
                        font-size: 5vw;
                    }

                    p {
                        font-size: 4vw;
                    }
                }

                .vendors {

                    h2 {
                        font-size: 5vw;
                    }

                    .list-of-vendors {
                        div {
                            p {
                                font-size: 5vw;
                            }
                        }
                    }
                }

                .containeris {
                    h2 {
                        font-size: 5vw;
                    }
                }
            }
        }

        .header {
            h1 {
                font-size: 7vw;
            }
        }
    }
}

@media (max-width: 400px) {
    .content {
        .before-header {

            .detailsButton,
            .toDaShopButton,
            .deleteProdukt {
                font-size: 16px;
                width: 100%;
            }
        }


        .before-header {
            .mat-raised-button {
                margin: 0;
                margin-top: 10px;
                margin-bottom: 5px;

            }

            .detailsButton,
            .deleteProdukt,
            .toDaShopButton {
                font-size: 3.8vw;

                .fa-solid {
                    font-size: 6vw;
                }
            }

        }

        .container {
            .second {
                .vendors {
                    .list-of-vendors {
                        p {
                            font-size: 5vw;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 310px) {
    .content {
        .container {
            .second {
                .vendors {
                    .list-of-vendors {
                        div {
                            width: 62vw;

                            p {
                                font-size: 5vw;
                            }
                        }
                    }
                }
            }
        }
    }

}