@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";
@import "./mixinsUsedForProduct.scss";

// --------------------------------------
.content {
    @include mainContentHolderWidth(99%);

    .before-header {
        @include beforeHeaderPrefix;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        justify-items: center;

        .mat-raised-button {
            @include matRaisedButtonPrefix;
        }

        .detailsButton {
            @include blackAndWhiteCustomButton;
        }

        .toDaShopButton {
            @include greenAndBlackCustomButton;
        }

        .productToEditButton {
            @include blueAndWhiteFilteredCustomButton;
        }

        .deleteProdukt {
            @include redBlackAndWhiteCustomButton;
        }
    }

    .header {
        @include headerPrefix;

        h2 {
            @include nameAndCategory;
        }
    }

    .container {
        @include containerContentHolder;
    }

    .grid {
        @include gridResetPrefix;
    }
}

// ---------------------------------------------------------
// --------------------- RESPONSIBILITA --------------------
// ---------------------------------------------------------
@media (max-width: 1600px) {
    .content {
        width: 80%;
    }
}


@media (max-width: 1500px) {
    .content {
        .before-header {

            .detailsButton,
            .toDaShopButton,
            .deleteProdukt {
                font-size: 1vw;
            }
        }
    }
}

@media (max-width: 1350px) {
    .content {
        .before-header {

            .detailsButton,
            .toDaShopButton,
            .deleteProdukt {
                font-size: 16px;
                width: fit-content;
                padding: 10px 20px;
            }
        }
    }
}


@media (max-width: 1300px) {
    .content {
        width: 90%;
    }
}

@media (max-width: 1100px) {
    .content {
        width: 100%;
    }
}

@media (max-width: 940px) {
    .content {
        .before-header {
            grid-template-columns: repeat(2, 1fr);

            .detailsButton,
            .toDaShopButton,
            .productToEditButton,
            .deleteProdukt {
                font-size: 16px;
                width: 90%;
                padding: 10px 20px;
            }
        }
    }
}


@media (max-width: 900px) {
    .content {
        .grid {
            display: block;
            margin: auto;
        }

        .container {
            .second {
                padding: 20px
            }
        }
    }
}


@media (max-width: 800px) {
    .content {
        .container {
            .second {
                .vendors .list-of-vendors {
                    display: block;
                    margin: auto;

                    div {
                        div {
                            border: 2px solid aliceblue;
                            width: 80%;
                            margin: 10px auto;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .content {
        .before-header {
            @include flex_Direction_Align(column, center);
            margin: auto;
            text-align: center;
            padding: 20px;

            .detailsButton,
            .toDaShopButton,
            .productToEditButton,
            .deleteProdukt {
                display: block;
                margin: auto;
                font-size: 16px;
                width: 70%;
                padding: 10px 20px;
            }
        }
    }
}

@media (max-width: 650px) {
    .content {
        .header {
            display: block;

            h1 {
                margin-bottom: 1.875rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .content {
        .before-header {

            .detailsButton,
            .toDaShopButton,
            .productToEditButton,
            .deleteProdukt {
                font-size: 16px;
                width: 100%;
            }
        }

        .container {
            .second {
                .price-and-stock {
                    display: block;
                    padding: 17px 0px;
                    margin-bottom: 30px;

                    h2 {
                        font-size: 6vw;

                        &:first-child {
                            margin: 0;
                        }

                        &:last-child {
                            margin: 20px 0;
                        }
                    }
                }

                .description {
                    h2 {
                        font-size: 5vw;
                    }

                    p {
                        font-size: 4vw;
                    }
                }

                .vendors {
                    h2 {
                        font-size: 5vw;
                    }

                    .list-of-vendors {
                        div {
                            div {
                                width: 100%;

                                p {
                                    font-size: 5vw;
                                }
                            }
                        }
                    }
                }

                .containeris {
                    h2 {
                        font-size: 5vw;
                    }
                }
            }
        }

        .header {
            h1 {
                font-size: 7vw;
            }
        }
    }
}

@media (max-width: 400px) {
    .content {
        .before-header {
            .mat-raised-button {
                margin: 0;
                margin-top: 10px;
                margin-bottom: 5px;
            }

            .detailsButton,
            .deleteProdukt,
            .productToEditButton,
            .toDaShopButton {
                font-size: 3.8vw;

                .fa-solid {
                    font-size: 6vw;
                }
            }
        }

        .container {
            .second {
                .vendors {
                    .list-of-vendors {
                        p {
                            font-size: 5vw;
                        }
                    }
                }
            }
        }
    }
}