@import "../../../../src/stylesheets/mixins";

// ---------------------------------------------------------------------------------------------------------------------
.mat-dialog-content {
    background-color: rgb(57, 125, 252);
    max-height: 100%;

    .form {
        box-shadow: none;

        h2 {
            font-weight: 700;
            font-size: 30px;
            border-bottom: 2px solid rgb(255, 255, 255);
            filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.8));
        }

        section.addingNewProduct {
            box-shadow: 5px 5px 10px #0000008f, -5px -5px 10px #0000005c, -5px -5px 10px #000000cc, 5px 5px 10px #111111;
            padding: 20px;
            border-radius: 10px;


            button.buttons {
                margin-left: 37px;
                font-size: 17px;
                padding: 5px 15px;

                color: rgb(57, 125, 252);

                transition: 200ms;

                &:hover {
                    background-color: rgb(57, 125, 252);
                    color: #fff;
                    transform: scale(1.1);
                }

                i.fa-solid {
                    margin-right: 10px;
                }
            }

            form.FormProductInfo {
                display: flex;
                flex-direction: column;

                gap: 10px;

                border-radius: 5px;
                color: #fff;
                padding: 20px;
                width: 100%;
                min-height: 85vh;

                margin: 0px auto;




                .product.basicInfo {
                    padding: 0 20px;


                    section.sectionProductInfo {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 30px;

                        section.partOne {
                            label.bold {
                                font-weight: 600;
                                font-size: 22px;
                            }

                            input,
                            select {
                                width: 100%;
                                font-size: 16px;
                                padding: 12px 20px;
                                margin: 4px 0;
                                display: inline-block;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                box-sizing: border-box;
                                cursor: pointer;
                            }

                            input.ng-invalid.ng-touched {
                                display: inline-block;
                                border: 2px solid red;
                            }

                            div {
                                @include errorDivAndSmall();
                            }
                        }

                        section.partTwo {
                            .fakeTextArea {
                                margin-top: 10px;
                                padding: 10px;
                                resize: none;
                                width: 100%;
                                display: block;
                            }

                            label.bold {
                                font-weight: 600;
                                font-size: 22px;
                            }

                            input {
                                width: 100%;
                                font-size: 16px;
                                padding: 12px 20px;
                                margin: 7px 0;
                                // display: inline-block;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                box-sizing: border-box;
                                cursor: pointer;
                            }

                            input.ng-invalid.ng-touched {
                                display: inline-block;
                                border: 2px solid red;
                            }

                            div {
                                @include errorDivAndSmall();
                            }
                        }
                    }
                }

                section.vendorsAndReviews {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 10px;
                    width: 100%;

                    .vendors {
                        padding: 20px;

                        h2 {
                            border-bottom: 1px solid #fff;
                            margin-bottom: 20px;
                            filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.8));
                        }

                        section.justVendors {

                            input {
                                margin-bottom: 10px;
                                padding: 10px;
                                font-size: 16px;
                            }

                            input[type="number"] {
                                margin: 0 10px;
                                width: 25%;
                            }

                            button {
                                height: 40px;
                                color: red;
                                margin-right: 20px;

                                transition: 200ms;

                                &:hover {
                                    background-color: red;
                                    color: #fff;
                                    transform: scale(1.1);
                                }
                            }

                            input.ng-invalid.ng-touched {
                                display: inline-block;
                                border: 2px solid red;
                            }

                            div {
                                @include errorDivAndSmall();
                            }
                        }

                        button {
                            font-size: 20px;
                            color: rgb(57, 125, 252);

                            transition: 200ms;

                            &:hover {
                                background-color: rgb(57, 125, 252);
                                color: #fff;
                                transform: scale(1.1);
                            }

                            i {
                                margin-right: 5px;
                            }
                        }

                        button.removeButton {
                            color: red;
                            margin-right: 20px;

                            transition: 200ms;

                            &:hover {
                                background-color: red;
                                color: #fff;
                                transform: scale(1.1);
                            }
                        }
                    }

                    .reviews {
                        padding: 20px;

                        section.areaAndRemoveButton {
                            display: grid;
                            grid-template-columns: 4fr 1fr;
                            align-items: center;

                            .fakeTextArea {
                                margin-top: 10px;
                                padding: 10px;
                                resize: none;
                                font-size: 16px;
                            }

                            .this {
                                margin-left: 20px;
                                font-size: 30px;
                                min-height: 57px;
                                justify-self: center;
                            }
                        }
                    }

                    button {
                        margin-top: 10px;
                        font-size: 20px;
                        color: rgb(57, 125, 252);

                        transition: 200ms;

                        &:hover {
                            background-color: rgb(57, 125, 252);
                            color: #fff;
                            transform: scale(1.1);
                        }

                        i {
                            margin-right: 5px;
                        }
                    }

                    button.removeButton {
                        margin-right: 20px;
                        color: red;

                        transition: 200ms;

                        &:hover {
                            background-color: red;
                            color: #fff;
                            transform: scale(1.1);
                        }
                    }

                    div {
                        margin-top: 10px;
                        @include errorDivAndSmall();
                    }
                }

                section.buttonSubmitAndClose {
                    display: block;

                    section.submitButtons {
                        display: flex;
                        justify-content: flex-end;

                        button[type="submit"] {
                            @include backgroundBlueAndWhiteCustomButton;
                            margin-right: 20px;
                        }

                        button[type="button"] {
                            @include backgroundBlueAndWhiteCustomButton;
                            padding: 8px 14px;
                            background-color: #ffffff;
                            color: rgb(57, 125, 252);

                            &:hover {
                                background-color: rgb(57, 125, 252);
                                color: #ffffff;
                                transform: scale(1.1);
                            }
                        }
                    }

                    .submitError {
                        display: flex;
                        justify-content: flex-end;

                        @include errorDivAndSmall();
                    }
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------------------
@media (max-width: 1390px) {
    .mat-dialog-content {
        .form {
            width: 100%;

            section.addingNewProduct {
                form.FormProductInfo {
                    .product.basicInfo {
                        section.sectionProductInfo {
                            display: block;
                            width: 95%;
                            gap: 30px;
                            margin: auto;
                        }
                    }

                    section.vendorsAndReviews {
                        display: block;
                        gap: 10px;
                        margin: auto;
                        width: 95%;
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .mat-dialog-content {

        .form {
            width: 100%;

            section.addingNewProduct {
                padding: 20px 0;

                form.FormProductInfo {
                    padding: 20px 0;

                    .product.basicInfo {
                        section.sectionProductInfo {
                            width: 100%;
                        }
                    }

                    section.vendorsAndReviews {
                        width: 100%;

                        .vendors {

                            section.justVendors {
                                input[type="text"] {
                                    width: 47%;
                                }

                                input[type="number"] {
                                    width: 35%;
                                }

                            }
                        }
                    }

                    section.buttonSubmitAndClose {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        margin: auto;
                        width: 100%;

                        button[type="submit"],
                        button[type="button"] {
                            width: 60%;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .mat-dialog-content {

        .form {
            h2 {
                font-size: 4vw;
            }

            section.addingNewProduct {

                button.buttons {
                    font-size: 3.5vw;
                    margin-top: 10px;
                }

                form.FormProductInfo {
                    button[type="submit"] {
                        font-size: 3.1vw;
                    }

                    .product.basicInfo {
                        section.sectionProductInfo {

                            section.partOne {
                                label.bold {
                                    font-size: 3.5vw;
                                }

                                input,
                                select {
                                    font-size: 2.8vw;
                                }
                            }

                            section.partTwo {
                                .fakeTextArea {
                                    font-size: 2.8vw;
                                }

                                label.bold {
                                    font-size: 3.5vw;
                                }

                                input {
                                    font-size: 2.8vw;
                                }
                            }

                            input {
                                font-size: 2.8vw;
                            }
                        }
                    }

                    section.vendorsAndReviews {
                        .vendors {

                            section.justVendors {
                                input {
                                    font-size: 2.8vw;
                                }

                                input[type="text"] {
                                    width: 47%;
                                }

                                input[type="number"] {
                                    width: 40%;
                                }

                            }

                            button {
                                font-size: 2.8vw;

                            }
                        }

                        .reviews {

                            .fakeTextArea {
                                font-size: 2.8vw;
                            }

                            button {
                                font-size: 2.8vw;
                            }
                        }

                    }

                    section.buttonSubmitAndClose {

                        button[type="submit"],
                        button[type="button"] {
                            font-size: 2.8vw;
                        }
                    }
                }
            }
        }
    }
}