@import "./variables";

@mixin flex_Direction_Align_Justify($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-content: $align;
}

@mixin flex_Direction_Align($direction, $align) {
    display: flex;
    flex-direction: $direction;
    align-content: $align;
}

@mixin flex_Align_Justify($align, $justify) {
    display: flex;
    justify-content: $justify;
    align-content: $align;
}


@mixin prefix {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@mixin matTableColumnsStyle($width, $paddingLeft16px) {
    width: $width;
    color: $whiteColor;
    padding-left: $paddingLeft16px;
    border-right: 1px solid currentColor;
}

@mixin columnsInTable {
    div.col-1 {
        width: 10vw;
    }

    div.col-2 {
        width: 10vw;
    }

    div.col-3 {
        width: 50vw;
    }

    div.col-4 {
        width: 20vw;
    }

    div.col-5 {
        width: 10vw;
    }
}

@mixin defaultColumns {
    div.col-1 {
        width: 75px;
    }

    div.col-2 {
        width: 75px;
    }

    div.col-3 {
        width: 375px;
    }

    div.col-4 {
        width: 150px;
    }

    div.col-5 {
        width: 75px;
    }
}


@mixin errorDivAndSmall {
    min-height: 30px;
    margin-right: 20px;

    small {
        color: #fff;
        background-color: rgb(255, 0, 0);
        filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.8));
        padding: 5px;
        border-radius: 5px;
        font-weight: 500;
        font-size: 17px;
        min-height: 30px;

        i {
            margin-right: 5px;
        }
    }

    small.success {
        background-color: rgba(6, 189, 0, 0.884);
    }

    small.changes {
        background-color: orange;
        color: #000;
        font-weight: 600;
    }
}

// --------------------------------------------------------------

@mixin blackAndWhiteCustomButton {
    color: rgba(39, 39, 39, 0.89);
    transition: 200ms;

    &:hover {
        background-color: rgba(39, 39, 39, 0.89);
        color: #ffffff;
        transform: scale(1.1);
    }

    .fa-solid,
    .fas.fa-trash {
        margin-right: 10px;
    }
}

@mixin whiteAndBlackCustomButton {
    background-color: rgba(39, 39, 39, 0.89);
    color: #ffffff;
    transition: 200ms;

    &:hover {
        background-color: #ffffff;
        color: rgba(39, 39, 39, 0.89);
        transform: scale(1.1);
    }

    .fa-solid,
    .fas.fa-trash {
        margin-right: 10px;
    }
}

@mixin greenAndBlackCustomButton {
    background-color: greenyellow;
    color: rgba(39, 39, 39, 0.89);
    transition: 200ms;

    &:hover {
        background-color: rgba(39, 39, 39, 0.89);
        color: rgb(153, 221, 50);
        transform: scale(1.1);
    }

    .fa-solid,
    .fa-brands {
        margin-right: 10px;
    }
}

@mixin redBlackAndWhiteCustomButton {
    background-color: #ffffff;
    color: rgb(255, 47, 47);
    transition: 200ms;

    .fa-solid {
        margin-right: 10px;
    }

    &:hover {
        background-color: rgb(238, 43, 43);
        color: rgba(39, 39, 39, 0.89);
        transform: scale(1.1);
    }
}

@mixin blueAndWhiteFilteredCustomButton {
    color: #fff;
    transition: 200ms;
    background-color: inherit;
    filter: drop-shadow(0 0px 0px rgba(0, 0, 0, 0.8));

    &:hover {
        background-color: #fff;
        color: rgb(0, 69, 126);
        transform: scale(1.1);
    }

    .fa-solid {
        margin-right: 10px;
    }
}

@mixin backgroundBlueAndWhiteCustomButton {
    width: fit-content;
    background-color: rgb(57, 125, 252);
    color: #ffffff;
    box-shadow: 5px 5px 10px #004766, -5px -5px 10px #0000005c, -5px -5px 10px #0084bd, 5px 5px 10px #00e0ff;
    font-size: 20px;
    font-weight: 600;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 200ms;
    border: none;

    &:hover {
        background-color: #ffffff;
        color: rgb(57, 125, 252);
        transform: scale(1.1);
    }


    i.fa-solid {
        margin-right: 10px;
        font-size: 20px;
    }
}