<div class="first-info">
    <div class="col-left">
        <h2>{{nameOfSlide}}</h2>
        <p>
            Moje meno je {{fullName}}, pochádzam z hornej Oravy z dediny Zákamenné. Mám {{age}} rokov. Som organizovaný
            mladý človek, ktorý sa rád učí nové veci. Niekedy mi záleží na detailoch, keď mám pocit, že danú vec veľmi
            dobre poznám a môžem sa v nej kreatívne vyhrať.
        </p>

    </div>
    <div class="col-right">
        <img src="../../assets/hlavna-fotka.jpg" alt="person" width="50%">
    </div>
</div>

