@import "../../../stylesheets/variables";

// content
.first-info {
    width: $width95;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    padding: 70px 100px;

    margin-bottom: 50px;


    border-radius: 42px;
    // box-shadow: -1px 3px 20px -8px #000000;

    .col-left,
    .col-right {
        flex: 1;
    }

    .col-left {
        h2 {
            font-size: 3.2vw;
            margin-bottom: 20px;
            font-weight: 600;
            color: $whiteColor;
            letter-spacing: 3px;
            filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.8));
        }

        p {
            font-size: 20px;
            font-family: "Poppins", sans-serif;
            color: $whiteColor;
            line-height: 1.9;
            filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.8));
        }
    }

    .col-right {
        text-align: center;
        height: 100%;

        img {
            border-radius: 50%;
            filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.8));
        }
    }

}

// animations
.first-info .col-left,
.first-info .col-right {
    animation: fade-in-left 0.8s 1;
}



@media (max-width: 1300px) {
    .first-info {
        .col-left {
            p {
                font-size: 1.5vw;
            }
        }

        .col-right {
            img {
                width: responsive(50%)
                    /*50%*/
                ;
            }
        }
    }
}

@media (max-width: 1000px) {
    .first-info {
        padding: 70px 40px;
    }
}

@media (max-width: 850px) {
    .first-info {
        .col-right {
            text-align: right;
        }
    }
}

@media (max-width: 800px) {
    .first-info {
        width: 100%;
        margin-bottom: 0;

        .col-left {
            h2 {
                font-size: 4.4vw;
            }

            p {
                font-size: 1.9vw;
            }
        }
    }
}

@media (max-width: 650px) {
    .first-info {
        width: 100%;
        margin-bottom: 0;

        .col-left {
            h2 {
                font-size: 5.8vw;
            }

            p {
                font-size: 2.5vw;
            }
        }
    }
}