@import "../../../../stylesheets/variables";

.containeris {
    padding-bottom: 10px;

    .addedReview {
        li {
            padding: 10px 0 5px 20px;
            list-style-type: none;
        }
    }

    .area {
        margin-top: 10px;
        padding: 10px;
        font-size: 16px;
        resize: none;
    }

    .review {
        padding: 10px;
        border: 2px solid $whiteColor;
        background-color: rgba(74, 96, 255, 0.4705882353);
        color: $whiteColor;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 1px 1px 2px 1px #f6ffff;

        &:hover {
            box-shadow: none;
            position: relative;
            bottom: -1px;
            right: -1px;
        }
    }
}