<div class="interests content">
    <h2>Záľuby</h2>

    <nav>
        <div>
            <img src="../../../assets/car.svg" alt="">
            <p>Autá</p>
        </div>

        <div>
            <img src="../../../assets/gaming.svg" alt="">
            <p>Videohry</p>

        </div>

        <div>
            <img src="../../../assets/listening.svg" alt="">
            <p>Hudba</p>

        </div>

        <div>
            <img src="../../../assets/programmer.svg" alt="">
            <p>Počítače</p>

        </div>
    </nav>
</div>