<div class="soft-skills content">
    <h2>Soft skills</h2>

    <div>
        <swiper [slidesPerView]="1" [spaceBetween]="10" [navigation]="true" [pagination]="{ clickable: true }"
            [scrollbar]="{ draggable: true }" [loop]="true">
            <ng-template swiperSlide>
                <div>
                    <img src="../../../assets/images_to_slide/dochvilnost.svg" alt="" width="50%">
                    <p>Dochvíľnosť</p>
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div>
                    <img src="../../../assets/images_to_slide/kerativneMyslenie.svg" alt="" width="50%">
                    <p>Kreatívne myslenie</p>
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div>
                    <img src="../../../assets/images_to_slide/komunikativnost.svg" alt="" width="50%">
                    <p>Komunikatívnosť</p>
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div>
                    <img src="../../../assets/images_to_slide/prezentacneZrucnosti.svg" alt="" width="50%">
                    <p>Prezentačné zručnosti</p>
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div>
                    <img src="../../../assets/images_to_slide/timeManagement.svg" alt="" width="50%">
                    <p>Time management</p>
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div>
                    <img src="../../../assets/images_to_slide/timovost.svg" alt="">
                    <p>Tímový hráč</p>
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div>
                    <img src="../../../assets/images_to_slide/trpezlivost.svg" alt="">
                    <p>Trpezlivosť</p>
                </div>
            </ng-template>
        </swiper>
    </div>
</div>
