<div class="content flex">
    <h1>{{thaNameOfThisComponent}} </h1>
    <p>Danish I love chocolate cake liquorice cookie croissant bear claw cake. Gummi bears gummies pie jelly fruitcake
        sugar plum candy.
        Chupa chups I love cake ice cream bonbon candy halvah. Apple pie gummi bears macaroon apple pie I love wafer
        soufflé I love.
        Jelly-o I love jujubes lemon drops I love chocolate bar.
        Macaroon marshmallow marzipan dessert gingerbread croissant I love.</p>
</div>
